<div class="search-form mt-5">
    <form action="" method="GET">
        <div class="mb-3">
            <label for="termQuery" class="form-label">Term Query</label>
            <input type="text" name="termQuery" class="form-control" id="termQuery">
        </div>
        <div class="mb-3">
            <label for="sexId" class="form-label">Sex</label>
            <select name="sex" id="sexId"  class="form-select">
                <option selected > -- Select --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>